
CoolestMoviesApi/CoolestMoviesApi/Startup.cs
CoolestMoviesApi/CoolestMoviesApi/Program.cs
CoolestMoviesApi/CoolestMoviesApi/Properties/launchSettings.json
CoolestMoviesApi/CoolestMoviesApi/obj/project.nuget.cache
CoolestMoviesApi/CoolestMoviesApi/obj/project.assets.json
CoolestMoviesApi/CoolestMoviesApi/obj/Debug/netcoreapp3.1/CoolestMoviesApi.csprojAssemblyReference.cache
CoolestMoviesApi/CoolestMoviesApi/obj/Debug/netcoreapp3.1/CoolestMoviesApi.assets.cache
CoolestMoviesApi/CoolestMoviesApi/obj/Debug/netcoreapp3.1/CoolestMoviesApi.AssemblyInfoInputs.cache
CoolestMoviesApi/CoolestMoviesApi/obj/Debug/netcoreapp3.1/CoolestMoviesApi.AssemblyInfo.cs
CoolestMoviesApi/CoolestMoviesApi/obj/CoolestMoviesApi.csproj.nuget.g.targets
CoolestMoviesApi/CoolestMoviesApi/obj/CoolestMoviesApi.csproj.nuget.g.props
CoolestMoviesApi/CoolestMoviesApi/obj/CoolestMoviesApi.csproj.nuget.dgspec.json
CoolestMoviesApi/CoolestMoviesApi/CoolestMoviesApi.csproj
CoolestMoviesApi/CoolestMoviesApi/appsettings.json
CoolestMoviesApi/CoolestMoviesApi/appsettings.Development.json
CoolestMoviesApi/CoolestMoviesApi.sln
CoolestMoviesApi/.vs/CoolestMoviesApi/v16/.suo
